In [1]:
import psycopg2

conn = psycopg2.connect(
database="Company",
host="localhost",
user="postgres",
password="carmen",
port="5432")

cursor = conn.cursor()

In [49]:
#1. How many projects are the IT, Marketing and HR departments working on?

cursor.execute('''SELECT COUNT(p."project_ID"), j."department"
    FROM "Employees" e
    LEFT JOIN "Jobs" j ON e."job_code" = j."job_code"
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID"
    GROUP BY j."department";''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

(30, 'Marketing')
(40, 'IT')
(30, 'HR')

In [53]:
#2. How many projects are in progress, completed, or not started?

cursor.execute('''SELECT COUNT(p."project_ID"), s."project_status"
    FROM "Projects" p
    LEFT JOIN "Status" s ON p."status_ID" = s."status_ID"
    GROUP BY s."project_status";''')
rows = cursor.fetchall()
conn.commit()
for row in rows:
    print (row)

(3, 'Completed')
(4, 'In Progress')
(3, 'Not Started')

In [54]:
# 3. How many employees are there for each skill?

cursor.execute('''SELECT COUNT(e."employee_ID"), j."skill"
    FROM "Employees" e
    LEFT JOIN "Jobs" j ON e."job_code" = j."job_code"
    GROUP BY j."skill";''')

rows = cursor.fetchall()
conn.commit()
for row in rows:
    print (row)

(20, 'Marketing')
(20, 'Programming')
(20, 'Recruiting')
(10, 'Employee Relations')
(10, 'Design')
(20, 'Database Design')

In [62]:
#4. Which employees live in the postal code `08094`? Show only the employee names.

cursor.execute('''SELECT "employee_name"
    FROM "Employees" 
    WHERE employee_address LIKE '%8094%';''')

rows = cursor.fetchall()
conn.commit()
for row in rows:
    print (row)

('Alice',)
('Harry',)
('Leo',)
('Pamela',)
('Quinn',)
('Tina',)
('Zara',)

In [55]:
#5. Which employees are currently assigned to specific projects? Show the employee name and project name.

cursor.execute('''SELECT e."employee_name", p."project_name"
    FROM "Employees" e
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID";''')

rows = cursor.fetchall()
conn.commit()
for row in rows:
    print (row)

('Alice', 'Employee Onboarding')
('Bob', 'System Upgrade')
('Carol', 'Ad Campaign')
('David', 'Training Program')
('Eve', 'Data Migration')
('Frank', 'Website Redesign')
('Grace', 'Mobile App Launch')
('Harry', 'Internship Program')
('Irene', 'Product Launch')
('Jack', 'System Integration')
('Jane', 'Employee Onboarding')
('John', 'System Upgrade')
('Kate', 'Ad Campaign')
('Leo', 'Training Program')
('Lily', 'Data Migration')
('Mark', 'Website Redesign')
('Nancy', 'Mobile App Launch')
('Oliver', 'Internship Program')
('Olivia', 'Product Launch')
('Oscar', 'System Integration')
('Pamela', 'Employee Onboarding')
('Paul', 'System Upgrade')
('Quinn', 'Ad Campaign')
('Rachel', 'Training Program')
('Ryan', 'Data Migration')
('Samantha', 'Website Redesign')
('Scott', 'Mobile App Launch')
('Sophia', 'Internship Program')
('Steven', 'Product Launch')
('Thomas', 'System Integration')
('Victoria', 'Employee Onboarding')
('Vincent', 'System Upgrade')
('Wendy', 'Ad Campaign')
('William', 'Training Program')
('Xander', 'Data Migration')
('Yasmine', 'Website Redesign')
('Zach', 'Mobile App Launch')
('Zoe', 'Internship Program')
('Zane', 'Product Launch')
('Zara', 'System Integration')
('Alex', 'Employee Onboarding')
('Amy', 'System Upgrade')
('Ben', 'Ad Campaign')
('Chloe', 'Training Program')
('Chris', 'Data Migration')
('Diana', 'Website Redesign')
('Dan', 'Mobile App Launch')
('Emma', 'Internship Program')
('Ethan', 'Product Launch')
('Emily', 'System Integration')
('George', 'Employee Onboarding')
('Gina', 'System Upgrade')
('Henry', 'Ad Campaign')
('Holly', 'Training Program')
('Ian', 'Data Migration')
('Isabel', 'Website Redesign')
('Jackie', 'Mobile App Launch')
('James', 'Internship Program')
('Jasmine', 'Product Launch')
('John', 'System Integration')
('Katherine', 'Employee Onboarding')
('Kevin', 'System Upgrade')
('Laura', 'Ad Campaign')
('Liam', 'Training Program')
('Lily', 'Data Migration')
('Matt', 'Website Redesign')
('Mia', 'Mobile App Launch')
('Michael', 'Internship Program')
('Molly', 'Product Launch')
('Nathan', 'System Integration')
('Natalie', 'Employee Onboarding')
('Noah', 'System Upgrade')
('Olivia', 'Ad Campaign')
('Owen', 'Training Program')
('Penny', 'Data Migration')
('Quincy', 'Website Redesign')
('Quinn', 'Mobile App Launch')
('Rachel', 'Internship Program')
('Richard', 'Product Launch')
('Rebecca', 'System Integration')
('Sophie', 'Employee Onboarding')
('Simon', 'System Upgrade')
('Taylor', 'Ad Campaign')
('Thomas', 'Training Program')
('Tracy', 'Data Migration')
('Tina', 'Website Redesign')
('Victor', 'Mobile App Launch')
('Vanessa', 'Internship Program')
('William', 'Product Launch')
('Wendy', 'System Integration')
('Xavier', 'Employee Onboarding')
('Yvonne', 'System Upgrade')
('Zack', 'Ad Campaign')
('Zara', 'Training Program')
('Zane', 'Data Migration')
('Zoey', 'Website Redesign')
('Zachary', 'Mobile App Launch')
('Zoe', 'Internship Program')
('Ziggy', 'Product Launch')
('Zander', 'System Integration')

In [69]:
#6. Provide information about the projects related to the 'Mobile App Launch' initiative.

cursor.execute('''SELECT p."project_name", s."project_status"
    FROM "Projects" p
    INNER JOIN "Status" s ON p."status_ID" = s."status_ID"
    WHERE p."project_name" = 'Mobile App Launch';''')

rows = cursor.fetchall()
conn.commit()

for row in rows:
    print (row)

('Mobile App Launch', 'In Progress')

In [79]:
# 7. What skills are most in demand for the projects in progress?
cursor.execute('''SELECT j."skill", COUNT(j."skill")
    FROM "Employees" e
    LEFT JOIN "Jobs" j ON e."job_code" = j."job_code"
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID"
    LEFT JOIN "Status" s ON p."status_ID" = s."status_ID"
    GROUP BY j."skill", s.project_status
    HAVING s.project_status = 'In Progress';''')

rows = cursor.fetchall()
conn.commit()

for row in rows:
    print (row)

('Marketing', 20)
('Programming', 10)
('Recruiting', 10)

In [82]:
#8. How many employees have completed their projects, and how many are still in progress?

cursor.execute('''SELECT s.project_status, COUNT(e."employee_ID") 
    FROM "Employees" e
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID"
    LEFT JOIN "Status" s ON p."status_ID" = s."status_ID"
    GROUP BY s."project_status"
    HAVING s.project_status = 'Completed' OR s.project_status = 'In Progress' ;''')

rows = cursor.fetchall()
conn.commit()

for row in rows:
    print (row)

('Completed', 30)
('In Progress', 40)

In [95]:
#9. What is the distribution of project statuses within each department?

cursor.execute('''SELECT j."department", s."project_status", COUNT(s."project_status")
    FROM "Employees" e
    LEFT JOIN "Jobs" j ON e."job_code" = j."job_code"
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID"
    LEFT JOIN "Status" s ON p."status_ID" = s."status_ID"
    GROUP BY j."department", s."project_status"
    ORDER BY j."department", s."project_status"
    ;''')

rows = cursor.fetchall()
conn.commit()

for row in rows:
    print (row)

('HR', 'In Progress', 10)
('HR', 'Not Started', 20)
('IT', 'Completed', 20)
('IT', 'In Progress', 10)
('IT', 'Not Started', 10)
('Marketing', 'Completed', 10)
('Marketing', 'In Progress', 20)

In [100]:
conn.rollback()

In [101]:
# 10. Find Employees with Programming Skills Working on In-Progress Projects. Show only the employee name, department, and project name.

cursor.execute('''SELECT e."employee_name", j."department", p."project_name"
    FROM "Employees" e
    LEFT JOIN "Jobs" j ON e."job_code" = j."job_code"
    LEFT JOIN "Projects" p ON e."project_ID" = p."project_ID"
    LEFT JOIN "Status" s ON p."status_ID" = s."status_ID"
    WHERE j."skill" = 'Programming' AND s."project_status" = 'In Progress'
    ;''')

rows = cursor.fetchall()
conn.commit()

for row in rows:
    print (row)

('Grace', 'IT', 'Mobile App Launch')
('Nancy', 'IT', 'Mobile App Launch')
('Scott', 'IT', 'Mobile App Launch')
('Zach', 'IT', 'Mobile App Launch')
('Dan', 'IT', 'Mobile App Launch')
('Jackie', 'IT', 'Mobile App Launch')
('Mia', 'IT', 'Mobile App Launch')
('Quinn', 'IT', 'Mobile App Launch')
('Victor', 'IT', 'Mobile App Launch')
('Zachary', 'IT', 'Mobile App Launch')